CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_phicomm_k2p=y
CONFIG_PACKAGE_frpc=m
CONFIG_PACKAGE_iptables-mod-conntrack-extra=y
CONFIG_PACKAGE_iptables-mod-ipopt=y
CONFIG_PACKAGE_kmod-ifb=m
CONFIG_PACKAGE_kmod-ipt-conntrack-extra=y
CONFIG_PACKAGE_kmod-ipt-ipopt=y
CONFIG_PACKAGE_kmod-nf-reject6=m
CONFIG_PACKAGE_kmod-nft-bridge=m
CONFIG_PACKAGE_kmod-nft-core=m
CONFIG_PACKAGE_kmod-nft-netdev=m
CONFIG_PACKAGE_kmod-sched-connmark=m
CONFIG_PACKAGE_kmod-sched-core=m
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_libcap=m
CONFIG_PACKAGE_libminiupnpc=y
CONFIG_PACKAGE_libnatpmp=y
CONFIG_PACKAGE_libnftnl=m
CONFIG_PACKAGE_libstdcpp=y
CONFIG_PACKAGE_libuv=m
CONFIG_PACKAGE_libwebsockets-full=m
# CONFIG_PACKAGE_luci-app-autoreboot is not set
# CONFIG_PACKAGE_luci-app-ddns is not set
CONFIG_PACKAGE_luci-app-frpc=m
CONFIG_PACKAGE_luci-app-mwan3=m
CONFIG_PACKAGE_luci-app-mwan3helper=m
CONFIG_PACKAGE_luci-app-nft-qos=m
CONFIG_PACKAGE_luci-app-nps=m
CONFIG_PACKAGE_luci-app-ntpc=m
CONFIG_PACKAGE_luci-app-qos=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-zerotier=y
CONFIG_PACKAGE_luci-i18n-mwan3-zh-cn=m
CONFIG_PACKAGE_luci-i18n-mwan3helper-zh-cn=m
CONFIG_PACKAGE_luci-i18n-nft-qos-zh-cn=m
CONFIG_PACKAGE_luci-i18n-nps-zh-cn=m
CONFIG_PACKAGE_luci-i18n-ntpc-zh-cn=m
CONFIG_PACKAGE_luci-i18n-qos-zh-cn=y
CONFIG_PACKAGE_luci-i18n-ttyd-zh-cn=y
CONFIG_PACKAGE_luci-i18n-zerotier-zh-cn=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-netgear=y
CONFIG_PACKAGE_mwan3=m
CONFIG_PACKAGE_nft-qos=m
CONFIG_PACKAGE_nftables=m
CONFIG_PACKAGE_npc=m
CONFIG_PACKAGE_ntpclient=m
CONFIG_PACKAGE_qos-scripts=y
CONFIG_PACKAGE_tc=m
CONFIG_PACKAGE_ttyd=y
CONFIG_PACKAGE_zerotier=y
CONFIG_PACKAGE_luci-app-ssr-plus=y
CONFIG_PACKAGE_UnblockNeteaseMusic=y
CONFIG_PACKAGE_UnblockNeteaseMusicGo=y
# CONFIG_TARGET_ROOTFS_INITRAMFS is not set
