CONFIG_TARGET_ath79=y
CONFIG_TARGET_ath79_generic=y
CONFIG_TARGET_MULTI_PROFILE=y

CONFIG_TARGET_DEVICE_ath79_generic_DEVICE_tplink_tl-wr886n-v2=y
CONFIG_TARGET_DEVICE_PACKAGES_ath79_generic_DEVICE_tplink_tl-wr886n-v2=""
CONFIG_TARGET_DEVICE_ath79_generic_DEVICE_tplink_tl-wr845n-v3=y
CONFIG_TARGET_DEVICE_PACKAGES_ath79_generic_DEVICE_tplink_tl-wr845n-v3=""
CONFIG_TARGET_DEVICE_ath79_generic_DEVICE_tplink_tl-wr941n-v5-cn=y
CONFIG_TARGET_DEVICE_PACKAGES_ath79_generic_DEVICE_tplink_tl-wr941n-v5-cn=""
CONFIG_TARGET_DEVICE_ath79_generic_DEVICE_mercury_mw150r-v10=y
CONFIG_TARGET_DEVICE_PACKAGES_ath79_generic_DEVICE_mercury_mw150r-v10=""
CONFIG_TARGET_DEVICE_ath79_generic_DEVICE_netgear_jnr3300-v1=y
CONFIG_TARGET_DEVICE_PACKAGES_ath79_generic_DEVICE_netgear_jnr3300-v1=""

# CONFIG_PACKAGE_dnsmasq is not set
CONFIG_PACKAGE_dnsmasq-full=y
# CONFIG_PACKAGE_wpad-basic is not set
CONFIG_PACKAGE_wpad=y
CONFIG_PACKAGE_luci=y
CONFIG_LUCI_LANG_zh_Hans=y
CONFIG_PACKAGE_luci-app-flowoffload=y
CONFIG_PACKAGE_luci-app-fullconenat=y
CONFIG_PACKAGE_luci-app-ssr-plus=y
CONFIG_PACKAGE_luci-app-uhttpd=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-watchcat=y
CONFIG_PACKAGE_luci-app-wifischedule=y
CONFIG_PACKAGE_luci-app-wol=y
CONFIG_PACKAGE_luci-theme-material=y
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_ddns-scripts=y
CONFIG_PACKAGE_ddns-scripts_aliyun=y
CONFIG_PACKAGE_ddns-scripts_dnspod=y
CONFIG_PACKAGE_wget=y
CONFIG_PACKAGE_ipv6helper=y