CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_d-team_newifi-d2=y
CONFIG_LIBSODIUM_MINIMAL=y
CONFIG_PACKAGE_6in4=y
CONFIG_PACKAGE_AdGuardHome=y
CONFIG_PACKAGE_UnblockNeteaseMusic=y
# CONFIG_PACKAGE_adbyby is not set
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_boost=y
CONFIG_PACKAGE_boost-date_time=y
CONFIG_PACKAGE_boost-program_options=y
CONFIG_PACKAGE_boost-system=y
CONFIG_PACKAGE_ca-certificates=y
# CONFIG_PACKAGE_coreutils-nohup is not set
CONFIG_PACKAGE_ddns-scripts_aliyun=y
CONFIG_PACKAGE_ddns-scripts_dnspod=y
CONFIG_PACKAGE_ddns-scripts_no-ip_com=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_frpc=y
CONFIG_PACKAGE_ip6tables=y
CONFIG_PACKAGE_ipt2socks=y
CONFIG_PACKAGE_iptables-mod-nat-extra=y
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_kcptun-client=y
# CONFIG_PACKAGE_kmod-gre is not set
CONFIG_PACKAGE_kmod-ipt-nat-extra=y
CONFIG_PACKAGE_kmod-ipt-nat6=y
CONFIG_PACKAGE_kmod-iptunnel4=y
CONFIG_PACKAGE_kmod-macvlan=y
CONFIG_PACKAGE_kmod-nf-nat6=y
CONFIG_PACKAGE_kmod-sit=y
CONFIG_PACKAGE_kmod-usb-printer=y
CONFIG_PACKAGE_libcap=y
CONFIG_PACKAGE_libev=y
CONFIG_PACKAGE_libhttp-parser=y
CONFIG_PACKAGE_libmbedtls=y
CONFIG_PACKAGE_libncurses=y
CONFIG_PACKAGE_libnghttp2=y
CONFIG_PACKAGE_libreadline=y
CONFIG_PACKAGE_libsodium=y
CONFIG_PACKAGE_libstdcpp=y
CONFIG_PACKAGE_libuv=y
CONFIG_PACKAGE_libwebsockets-full=y
# CONFIG_PACKAGE_luci-app-adbyby-plus is not set
CONFIG_PACKAGE_luci-app-adguardhome=y
CONFIG_PACKAGE_luci-app-frpc=y
CONFIG_PACKAGE_luci-app-guest-wifi=y
CONFIG_PACKAGE_luci-app-koolproxyR=y
CONFIG_PACKAGE_luci-app-mwan3=y
CONFIG_PACKAGE_luci-app-mwan3helper=y
# CONFIG_PACKAGE_luci-app-pptp-server is not set
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Kcptun=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Socks=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Trojan=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray=y
CONFIG_PACKAGE_luci-app-syncdial=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-udpxy=y
CONFIG_PACKAGE_luci-app-unblockmusic=y
CONFIG_PACKAGE_luci-app-usb-printer=y
# CONFIG_PACKAGE_luci-app-vsftpd is not set
CONFIG_PACKAGE_luci-app-wifischedule=y
CONFIG_PACKAGE_luci-app-wrtbwmon=y
CONFIG_PACKAGE_luci-i18n-guest-wifi-zh-cn=y
CONFIG_PACKAGE_luci-i18n-mwan3-zh-cn=y
CONFIG_PACKAGE_luci-i18n-mwan3helper-zh-cn=y
CONFIG_PACKAGE_luci-i18n-ttyd-zh-cn=y
CONFIG_PACKAGE_luci-i18n-usb-printer-zh-cn=y
CONFIG_PACKAGE_luci-i18n-wifischedule-zh-cn=y
CONFIG_PACKAGE_luci-i18n-wrtbwmon-zh-cn=y
CONFIG_PACKAGE_luci-proto-ipv6=y
CONFIG_PACKAGE_mwan3=y
CONFIG_PACKAGE_node=y
CONFIG_PACKAGE_odhcp6c=y
CONFIG_PACKAGE_odhcp6c_ext_cer_id=0
CONFIG_PACKAGE_odhcpd-ipv6only=y
CONFIG_PACKAGE_odhcpd_ipv6only_ext_cer_id=0
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_p910nd=y
# CONFIG_PACKAGE_pptpd is not set
CONFIG_PACKAGE_shadowsocks-libev-config=y
CONFIG_PACKAGE_shadowsocks-libev-ss-redir=y
CONFIG_PACKAGE_shadowsocksr-libev-ssr-local=y
CONFIG_PACKAGE_terminfo=y
CONFIG_PACKAGE_trojan=y
CONFIG_PACKAGE_ttyd=y
CONFIG_PACKAGE_udpxy=y
CONFIG_PACKAGE_v2ray=y
# CONFIG_PACKAGE_vsftpd-alt is not set
CONFIG_PACKAGE_wifischedule=y
CONFIG_boost-compile-visibility-hidden=y
CONFIG_boost-runtime-shared=y
CONFIG_boost-static-and-shared-libs=y
CONFIG_boost-variant-release=y
# CONFIG_TARGET_ramips_mt7620_DEVICE_aigale_ai-br100 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_alfa-network_ac1200rm is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_alfa-network_r36m-e4g is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_alfa-network_tube-e4g is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_asus_rp-n53 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_asus_rt-ac51u is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_asus_rt-n12p is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_asus_rt-n14u is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_bdcom_wap2100-sk is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_buffalo_whr-1166d is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_buffalo_whr-300hp2 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_buffalo_whr-600d is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_buffalo_wmr-300 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_comfast_cf-wr800n is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dlink_dch-m225 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dlink_dir-510l is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dlink_dir-810l is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dlink_dwr-116-a1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dlink_dwr-118-a1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dlink_dwr-118-a2 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dlink_dwr-921-c1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dlink_dwr-921-c3 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dlink_dwr-922-e2 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dovado_tiny-ac is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_edimax_br-6478ac-v2 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_edimax_ew-7476rpc is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_edimax_ew-7478ac is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_edimax_ew-7478apc is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_elecom_wrh-300cr is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_engenius_esr600 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_fon_fon2601 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_glinet_gl-mt300a is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_glinet_gl-mt300n is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_glinet_gl-mt750 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_head-weblink_hdrm200 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_hiwifi_hc5661 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_hiwifi_hc5761 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_hiwifi_hc5861 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_hnet_c108 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_iodata_wn-ac1167gr is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_iodata_wn-ac733gr3 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_kimax_u25awf-h1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_kimax_u35wf is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_kingston_mlw221 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_kingston_mlwg2 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_lava_lr-25g001 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_lenovo_newifi-y1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_lenovo_newifi-y1s is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_linksys_e1700 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_microduino_microwrt is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_netgear_ex2700 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_netgear_ex3700 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_netgear_ex6130 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_netgear_wn3000rp-v3 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_nexx_wt3020-4m is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_nexx_wt3020-8m is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_ohyeah_oy-0001 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_phicomm_k2g is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_phicomm_psg1208 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_phicomm_psg1218a is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_phicomm_psg1218b is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_planex_cs-qr10 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_planex_db-wrt01 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_planex_mzk-750dhp is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_planex_mzk-ex300np is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_planex_mzk-ex750np is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_ralink_mt7620a-evb is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_ralink_mt7620a-mt7530-evb is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_ralink_mt7620a-mt7610e-evb is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_ralink_mt7620a-v22sg-evb is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_ravpower_wd03 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_sanlinking_d240 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_sercomm_na930 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_tplink_archer-c2-v1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_tplink_archer-c20-v1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_tplink_archer-c20i is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_tplink_archer-c50-v1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_tplink_archer-mr200 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_vonets_var11n-300 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_wrtnode_wrtnode is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_xiaomi_miwifi-mini is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_youku_yk1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_yukai_bocco is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-ape522ii is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-cpe102 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-wa05 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-we1026-5g-16m is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-we1026-h-32m is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-we2026 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-we826-16m is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-we826-32m is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-we826-e is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-wr8305rt is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zte_q7 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zyxel_keenetic-omni is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zyxel_keenetic-omni-ii is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zyxel_keenetic-viva is not set
# CONFIG_TARGET_ramips_mt7620_Default is not set
# CONFIG_TARGET_x86_64 is not set
# CONFIG_TARGET_x86_64_Generic is not set
# CONFIG_TARGET_x86_core2 is not set
# CONFIG_TARGET_x86_generic is not set
# CONFIG_TARGET_x86_geode is not set
# CONFIG_TARGET_x86_legacy is not set
# CONFIG_TARGET_x86_zen is not set