CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7620=y
CONFIG_TARGET_ramips_mt7620_DEVICE_phicomm-psg1218a=y

CONFIG_KERNEL_MIPS_FPU_EMULATOR=n

CONFIG_PACKAGE_luci-app-turboacc=y
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_flow-offload=n
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_shortcut-fe=n
CONFIG_PACKAGE_luci-app-ramfree=y

# 其他需要安装的软件包:
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-bootstrap=n
CONFIG_PACKAGE_luci-app-wizard=n
CONFIG_PACKAGE_luci-app-nft-qos=n
CONFIG_PACKAGE_luci-app-vlmcsd=y
CONFIG_PACKAGE_bash=n
CONFIG_PACKAGE_htop=n
CONFIG_PACKAGE_wget-ssl=n

CONFIG_PACKAGE_luci-app-vsftpd=n
CONFIG_PACKAGE_vsftpd-alt=n
CONFIG_LUCI_LANG_zh_Hans=y
CONFIG_LUCI_LANG_en=y
CONFIG_PACKAGE_luci-app-unblockmusic=n
CONFIG_PACKAGE_luci-app-cifs-mount=n
CONFIG_PACKAGE_luci-app-ssr-plus=n

CONFIG_PACKAGE_autosamba=n
CONFIG_PACKAGE_autosamba-ksmbd=n
#ksmbd
CONFIG_PACKAGE_kmod-fs-ksmbd=n

